<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>891623840584-sot1f4vst7c139una0l8odc99vhhdbb9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.891623840584-sot1f4vst7c139una0l8odc99vhhdbb9</string>
	<key>API_KEY</key>
	<string>AIzaSyBk58IEme4NcnpcFH0v9KVXnsXuffjAFSA</string>
	<key>GCM_SENDER_ID</key>
	<string>891623840584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testTask</string>
	<key>PROJECT_ID</key>
	<string>fluttertesttask-8c521</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttertesttask-8c521.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:891623840584:ios:5834f2f409febdb7b6317d</string>
</dict>
</plist>